# ITMGT 25.03 EE
# Assignment 3B

This is a data-cleaning assignment and is the second of two parts. This notebook is uploaded to our Github repository along with a csv of fake, dirty data called **recweekdata.csv**.

In addition, you have a new file called **studentprofiles.csv** which has first and last names plus the genders of the students.

The output of this assignment is to convert recweekdata.csv into processable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called **cleanrecweekdata3b.csv** **(5 points)**
2. This notebook, containing the code (properly commented) that you used to clean the data **(5 points)**
3. An html file of summary statistics from each column called **stats3b.html**. The requirements for the summary statistics are described below. **(10 points)**

The outputs are similar to that of Assignment 3A, except that you will now use Pandas instead of Python lists.

This entire assignment (3B) is worth 20 points.

Upload your output files to your Github repositories. Make sure to send an email to **joben.ilagan@gmail.com** once you're done.

This assignment is due on **Monday, July 9, 2019** at 12:00NN.

Note: I understand you all need to review for LT 2. Think of this Assignment as practice. It's not meant to take you as long as 3A.

#### Bonus Points:
* +2 if submitted over (or before) the weekend (July 13-14)
* +2 if CSS and div tags are used (but please don't spend too much time on this because you still need to review for the Long Test)

In [9]:
import numpy as np
import pandas as pd
import re

df1 = pd.read_csv("recweekdata.csv")
df2 = pd.read_csv("studentprofiles.csv")
df = pd.merge(df1, df2, on=['firstname', 'lastname']) #merging the two files based on firstname and lastname

#Cleaning birthmonths
#Note: December, November, and October must come first to avoid two or more commands applying to the same code
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"12|Dec$","December",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"11|Nov$","November",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"10|Oct$","October",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"9|Sep$","September",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"8|Aug$","August",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"7|Jul$","July",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"6|Jun$","June",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"5","May",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"4|Apr$","April",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"3|Mar$","March",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"2|Feb$","February",regex=True)
df.loc[:,"birthmonth"] = df.loc[:,"birthmonth"].str.replace(r"1|Jan$","January",regex=True)

#Cleaning courses
#Note: order must follow BS ME>BS MGT>BS LM otherwise code doesn't work
df.loc[:,"course"] = df.loc[:,"course"].str.replace(r"Management Engineering|BS ME|ME","BS Management Engineering",regex=True)
df.loc[:,"course"] = df.loc[:,"course"].str.replace(r"Management|BS MGT|MGT","BS Management",regex=True)
df.loc[:,"course"] = df.loc[:,"course"].str.replace(r"Legal Management|BS LM|LM","BS Legal Management",regex=True)
df.loc[:,"course"] = df.loc[:,"course"].str.replace(r"Communications Technology|BS CTM|CTM","BS Communications Technology Management",regex=True)
df.loc[:,"course"] = df.loc[:,"course"].str.replace(r"Information Technology Entrepreneurship|BS ITE|ITE","BS Information Technology Entrepreneurship",regex=True)

#Cleaning phonenumbers
df.loc[:,"phonenumber"] = df.loc[:,"phonenumber"].str.replace(r"\+63 9",r"09", regex=True)
df.loc[:,"phonenumber"] = df.loc[:,"phonenumber"].str.replace(r"^9",r"09", regex=True)

#Cleaning birthyears
df.loc[:,"birthyear"] = df.loc[:,"birthyear"].apply(lambda x: re.sub(r"^(9[7-9])",r"19\1", str(x)))

#Identifying the carrier
carrier = {"0917":"Globe","0918":"Smart", "0927":"Globe"}
df.loc[:,"phonenumber"].str[0:4].apply(lambda x: carrier[x])
df["carrier"] = df.loc[:,"phonenumber"].str[0:4].apply(lambda x: carrier[x])

                name
gender carrier
Female Globe       0
       Smart       0
Male   Globe       0
       Smart       0

# Required Summary Statistics

#### These were the questions from 3A:

1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*

#### Additional Questions:
* How many Globe subscribers are: Male? Female?
* How many Smart subscribers are: Male? Female?

Answer these questions in an html file called **stats3b.html**. The format of the html is as follows (in template form, so you can use this as format string in your program, though feel free to modify with variable names if you find it easier to do so):

```
<html>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td>People born in each month</td><td>{}</td></tr>
             <tr><td>People born on each day</td><td>{}</td></tr>
             <tr><td>People born in each year</td><td>{}</td></tr>
             <tr><td>People coming from each course</td><td>{}</td></tr>
             <tr><td>People having numbers from Globe and Smart</td><td>{}</td></tr>
             <tr><td>Male Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Female Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Male Smart subscribers:</td><td>{}</td></tr>
             <tr><td>Female Smart subscribers:</td><td>{}</td></tr>
         </table>
    </body>
</html>
```

In [ ]:
<h2>Summary Statistics</h2>
<table style="width: 596px;">
<tbody>
<tr style="height: 21px;">
<th style="height: 21px; width: 74px;">Stat</th>
<th style="height: 21px; width: 38px;">Value</th>
<th style="height: 21px; width: 56px;">Stat</th>
<th style="height: 21px; width: 38px;">Value</th>
<th style="height: 21px; width: 56px;">Stat</th>
<th style="height: 21px; width: 38px;">Value</th>
<th style="height: 21px; width: 63px;">Stat</th>
<th style="height: 21px; width: 38px;">Value</th>
<th style="height: 21px; width: 76px;">Stat</th>
<th style="height: 21px; width: 52px;">&nbsp;</th>
<th style="height: 21px; width: 28px;">&nbsp;</th>
<th style="height: 21px; width: 38px;">Value</th>
</tr>
<tr style="height: 81px;">
<td style="height: 81px; width: 74px;"><em>People born in each month</em></td>
<td style="height: 81px; width: 38px;">&nbsp;()</td>
<td style="height: 81px; width: 56px;"><em>People born on each day</em></td>
<td style="height: 81px; width: 38px;">&nbsp;()</td>
<td style="height: 81px; width: 56px;"><em>People born in each year</em></td>
<td style="height: 81px; width: 38px;">&nbsp;()</td>
<td style="height: 81px; width: 63px;"><em>People coming from each course</em></td>
<td style="height: 81px; width: 38px;">&nbsp;()</td>
<td style="height: 81px; width: 76px;"><em>People having numbers from Globe and Smart</em></td>
<td style="height: 81px; width: 52px;"><em>Male</em></td>
<td style="height: 81px; width: 28px;"><em>Female</em></td>
<td style="height: 81px; width: 38px;">&nbsp;Total</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">January</td>
<td style="height: 21px; width: 38px;">&nbsp;270</td>
<td style="height: 21px; width: 56px;">1</td>
<td style="height: 21px; width: 38px;">112&nbsp;</td>
<td style="height: 21px; width: 56px;">1997</td>
<td style="height: 21px; width: 38px;">756&nbsp;</td>
<td style="height: 21px; width: 63px;">BS CTM</td>
<td style="height: 21px; width: 38px;">589&nbsp;</td>
<td style="height: 21px; width: 76px;">Globe</td>
<td style="height: 21px; width: 52px;">1061</td>
<td style="height: 21px; width: 28px;">984</td>
<td style="height: 21px; width: 38px;">2045&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">Febuary</td>
<td style="height: 21px; width: 38px;">232&nbsp;</td>
<td style="height: 21px; width: 56px;">2</td>
<td style="height: 21px; width: 38px;">106&nbsp;</td>
<td style="height: 21px; width: 56px;">1998</td>
<td style="height: 21px; width: 38px;">746&nbsp;</td>
<td style="height: 21px; width: 63px;">BS ITE</td>
<td style="height: 21px; width: 38px;">590&nbsp;</td>
<td style="height: 21px; width: 76px;">Smart</td>
<td style="height: 21px; width: 52px;">461</td>
<td style="height: 21px; width: 28px;">494</td>
<td style="height: 21px; width: 38px;">955&nbsp;</td>
</tr>
<tr style="height: 31px;">
<td style="height: 31px; width: 74px;">March</td>
<td style="height: 31px; width: 38px;">246&nbsp;</td>
<td style="height: 31px; width: 56px;">3</td>
<td style="height: 31px; width: 38px;">90&nbsp;</td>
<td style="height: 31px; width: 56px;">
<p>1999</p>
</td>
<td style="height: 31px; width: 38px;">756&nbsp;</td>
<td style="height: 31px; width: 63px;">BS LM</td>
<td style="height: 31px; width: 38px;">585&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">April</td>
<td style="height: 21px; width: 38px;">267&nbsp;</td>
<td style="height: 21px; width: 56px;">4</td>
<td style="height: 21px; width: 38px;">110&nbsp;</td>
<td style="height: 21px; width: 56px;">2000</td>
<td style="height: 21px; width: 38px;">380&nbsp;</td>
<td style="height: 21px; width: 63px;">BS Mgt</td>
<td style="height: 21px; width: 38px;">629&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">May</td>
<td style="height: 21px; width: 38px;">273&nbsp;</td>
<td style="height: 21px; width: 56px;">5</td>
<td style="height: 21px; width: 38px;">100&nbsp;</td>
<td style="height: 21px; width: 56px;">2001</td>
<td style="height: 21px; width: 38px;">362&nbsp;</td>
<td style="height: 21px; width: 63px;">BS ME</td>
<td style="height: 21px; width: 38px;">607&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">June</td>
<td style="height: 21px; width: 38px;">259&nbsp;</td>
<td style="height: 21px; width: 56px;">6</td>
<td style="height: 21px; width: 38px;">99&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">July</td>
<td style="height: 21px; width: 38px;">249&nbsp;</td>
<td style="height: 21px; width: 56px;">7</td>
<td style="height: 21px; width: 38px;">88&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">August</td>
<td style="height: 21px; width: 38px;">241&nbsp;</td>
<td style="height: 21px; width: 56px;">8</td>
<td style="height: 21px; width: 38px;">111&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">September</td>
<td style="height: 21px; width: 38px;">232&nbsp;</td>
<td style="height: 21px; width: 56px;">9</td>
<td style="height: 21px; width: 38px;">98&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">October</td>
<td style="height: 21px; width: 38px;">178&nbsp;</td>
<td style="height: 21px; width: 56px;">10</td>
<td style="height: 21px; width: 38px;">111&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">November</td>
<td style="height: 21px; width: 38px;">277&nbsp;</td>
<td style="height: 21px; width: 56px;">11</td>
<td style="height: 21px; width: 38px;">105&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">December</td>
<td style="height: 21px; width: 38px;">276&nbsp;</td>
<td style="height: 21px; width: 56px;">12</td>
<td style="height: 21px; width: 38px;">98&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">13</td>
<td style="height: 21px; width: 38px;">119&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">14</td>
<td style="height: 21px; width: 38px;">102&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">15</td>
<td style="height: 21px; width: 38px;">121&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">16</td>
<td style="height: 21px; width: 38px;">115&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">17</td>
<td style="height: 21px; width: 38px;">116&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">18</td>
<td style="height: 21px; width: 38px;">107&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">19</td>
<td style="height: 21px; width: 38px;">113&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">20</td>
<td style="height: 21px; width: 38px;">91&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">21</td>
<td style="height: 21px; width: 38px;">123&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">22</td>
<td style="height: 21px; width: 38px;">103&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">23</td>
<td style="height: 21px; width: 38px;">116&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">24</td>
<td style="height: 21px; width: 38px;">108&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">25</td>
<td style="height: 21px; width: 38px;">116&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">26</td>
<td style="height: 21px; width: 38px;">116&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">27</td>
<td style="height: 21px; width: 38px;">102&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">28</td>
<td style="height: 21px; width: 38px;">104&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">29</td>
<td style="height: 21px; width: 38px;">0&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">30</td>
<td style="height: 21px; width: 38px;">0&nbsp;</td>
</tr>
<tr style="height: 21px;">
<td style="height: 21px; width: 74px;">31</td>
</tr>
</tbody>
</table>